In [1]:
import pandas as pd

In [2]:
train_split_1 = pd.read_csv('data/train/train_split_1.csv')

In [4]:
train_split_1.columns

Index(['Epitope - Name', 'MHC_epitope', 'labels'], dtype='object')

In [5]:
train_split_1

         Epitope - Name                         MHC_epitope  labels
0      GPEGQAYDVDFTPPFR  QEFFIASGAAVDAIMESSYDYFDLQKRNYHVVFT       1
1       DAALALLLLDRLNQL  QEFFIASGAAVDAIMESSFDYFDFDRATYHVGFT       1
2     LENLVVLNAASVAGAHW  QEFFIASGAAVDAIMWLFLECYDLQRATYHVGFT       1
3       SHMEPSFGLILHDGG  QEFFIASGAAVDAIMKDFYHGYVFRRETVHVGFT       1
4       VLRIINEPTAAAIAY  QEFFIASGAAVDAIMEVHFDYYDLQKATYHVGFT       1
...                 ...                                 ...     ...
6522    MYSVKKRLKGNFIWI  QEFFIASGAAVDAIMESGLEHFVFDRATYHAVFT       1
6523      QPMIARDGPHPVD  QEFFIASGAAVDAIMERSYDYYVLQKRNYHVGFT       1
6524    TCQPMRLYSTCLYHP  QEFFIASGAAVDAIMEACNIYYDLRRETYYVVFT       1
6525    EIGRMLNILNRRRRT  QEFFIASGAAVDAIMESGLEHFVFDRATYHAVFT       1
6526  GQKQYQTLMNKILTSET  QEFFIASGAAVDAIMWLFLECYDLQRATYHVGFT       0

[6527 rows x 3 columns]

In [5]:
def seq_encoding(seq):
    mapping = dict(zip('0ACDEFGHIKLMNPQRSTVWYX', range(1,23)))
    mapped_sequence = [mapping[i] for i in seq]
    return mapped_sequence

In [6]:
def letter_based_encoding(df, max_length=None, apply_padding=False):
    epitope_column = df.iloc[:,0].name
    epitope_list, mhc_list = list(), list()

    for epitope, mhc_epitope in zip(df[epitope_column], df.iloc[:,1]):
        epi = seq_encoding(epitope)
        mhc = seq_encoding(mhc_epitope)
        epitope_list.append(epi)
        mhc_list.append(mhc)

    epitope_df = pd.DataFrame(epitope_list).fillna(0)
    mhc_epitope_df = pd.DataFrame(mhc_list).fillna(0)

    merged_df = epitope_df.merge(mhc_epitope_df, left_index=True, right_index=True)
    merged_df.columns = merged_df.columns.astype(str)
    return merged_df

In [7]:
letter_based_encoding(train_split_1)

,0_x,1_x,2_x,3_x,4_x,5_x,6_x,7_x,8_x,9_x,...,24,25,26,27,28,29,30,31,32,33
0,7,14,5,7,15,2,21,4,19,4,...,15,10,16,13,21,8,19,19,6,18
1,4,2,2,11,2,11,11,11,11,4,...,4,16,2,18,21,8,19,7,6,18
2,11,5,13,11,19,19,11,13,2,2,...,15,16,2,18,21,8,19,7,6,18
3,17,8,12,5,14,17,6,7,11,9,...,16,16,5,18,19,8,19,7,6,18
4,19,11,16,9,9,13,5,14,18,2,...,15,10,2,18,21,8,19,7,6,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6522,12,21,17,19,10,10,16,11,10,7,...,4,16,2,18,21,8,2,19,6,18
6523,15,14,12,9,2,16,4,7,14,8,...,15,10,16,13,21,8,19,7,6,18
6524,18,3,15,14,12,16,11,21,17,18,...,16,16,5,18,21,21,19,19,6,18
6525,5,9,7,16,12,11,13,9,11,13,...,4,16,2,18,21,8,2,19,6,18
6526,7,15,10,15,21,15,18,11,12,13,...,15,16,2,18,21,8,19,7,6,18

In [22]:
my_train = pd.read_csv('data/my_train/train_split_0.csv')
my_test = pd.read_csv('data/my_test/test_split_0.csv')

In [23]:
dataset = pd.concat([my_train, my_test])

In [26]:
dataset['labels'].value_counts()

labels
1    2648
0    2256
Name: count, dtype: int64

In [9]:
my_train_human['labels'].value_counts()

labels
1    1640
0    1191
Name: count, dtype: int64

In [10]:
my_test_human = pd.read_csv('data/my_test_human/test_split_0_human.csv')

In [12]:
my_test_human['MHC_epitope'].apply(len)

0      34
1      34
2      34
3      34
4      34
       ..
704    34
705    34
706    34
707    34
708    34
Name: MHC_epitope, Length: 709, dtype: int64

In [17]:
(my_train_human['MHC_epitope'].apply(len) == 34).all()

True

In [18]:
(my_test_human['MHC_epitope'].apply(len) == 34).all()

True